@import "tailwindcss";
@import url(../public/kalam/Kalam-Regular.ttf);
@theme {
  --font-inter: "Inter", "monospace";
  --font-Kalam: "Kalam Regular", cursive;
}
@layer components {
  .card {
    @apply h-[230px] w-[180px] rounded-sm text-center border hover:border-green-400 transition-all duration-700 ease-linear p-2 mx-2;
  }
  .card-img {
    @apply h-[170px] w-full;
  }
  .card-h1 {
    @apply text-xl text-gray-400;
  }
  .h1 {
    @apply border-l-4 border-red-500 p-5 text-gray-400 font-bold;
  }
  .todoListDiv {
    @apply w-[230px] my-2.5 flex justify-between rounded-sm shadow-2xs bg-white text-black p-4;
  }
  .div-shadow {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  }
  .div-r {
    @apply w-[80px] inline-block hover:border-gray-500 transition-all duration-700 h-[130px] border border-gray-300 bg-transparent rounded-2xl rotate-45;
  }
  /* .div-r {
    @apply w-[80px] absolute top-0 h-[120px] border border-gray-200 bg-transparent rounded-2xl rotate-45;
  } */
  .bookDiv {
    @apply w-[200px] text-center border rounded-xl h-[230px] p-3;
  }
  .bookImg {
    @apply w-full h-[160px] rounded-xl opacity-70 hover:opacity-100;
  }

  .rotatedDiv {
    @apply w-[80px] hover:border-gray-600 transition-all duration-700 h-[130px] inline-block rounded-md rotate-45  bg-transparent border border-gray-300;
  }
}
